body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

.main-navigation {
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    height: 57px;

    background-color: #ffffff;
}

.site-navigation {
    list-style: none;

    margin: 0;
    padding: 0;
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

}

.site-navigation a {
    color: #000000;

}

.site-navigation li {
  width: 25%;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81B3D2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

a.active-link {
    color: #766357;
}

.logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section.intro  {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  width: 100%;
  height: auto;
  background: #ffffff url("../img/bg-intro.jpg") no-repeat top center;
}

.intro-img {
  margin: auto;
  padding-bottom: 21px;
}

.intro::after {
    content: "";
    background: url("../img/polygon.svg") no-repeat center bottom;
    background-size: 100% auto;
    z-index: 1;
    height: 58px;
    position: relative;
    bottom: -1px;
}

.about {
  background-color: #ffffff;
  padding-top: 65px;
  padding-bottom: 50px;
}

.about-title {
  padding-bottom: 30px;
}

.about-lead {
  margin: 0;
}

h2.about-title {
  text-align: center;
  font-size: 21px;
  max-width: 500px;
  margin: auto;
  line-height: 26px;
  color: #000000;
}

h2.search-title {
  font-size: 30px;
  text-align: center;
}

.reasons ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}


.reasons-item {
  min-height: 256px;
  flex-basis: 33.33%;
}

.reasons h3 {
  font-size: 21px;
  max-width: 160px;
  margin: auto;
  line-height: 21px;
}

.reason-description {
  max-width: 280px;
  margin: 0 auto;
}

.reason-title .gray,
.features-title {
  color: #000000;
}

li.blue {
  background-color: #81b3d2;
  color: #ffffff;
}

li.first-child::after {
  display: block;
  background: url("../img/feature-picture-1.jpg") no-repeat center center;
  flex-basis: 66.66%;
  min-height: 256px;
}

li.gray {
  background-color: #eeeeee;
}

p.about-lead,
p.search-text {
  text-align: center;
}

.search-text {
  max-width: 460px;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 3px 17px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-open-button {
  display: block;
  margin: auto;
  padding: 30px 50px;
  font-size: 21px;
  background-color: #766357;
}


form.search-form {
  margin: auto;
  width: 568;
  height: 395px;
  background-color: #ffffff;
  font-weight: 700;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15)
}

.search-form input {
  background-color: #f2f2f2;
  text-transform: uppercase;
  max-width: 346px;
  height: 38px;
  border: none;
  font-weight: 700;
  color: #000000;
}

.search-form-submit {
  padding: 16px 48px;
  font-size: 21px;
}

div.search-form-field {
  padding: 10px;
}


.search-results-list,
.search-results-stars {
  list-style: none;
}

.search-results-name {
  color: #000000;
}

.search-results-book {
  background: #766357;
}

.map {
  margin: auto;
}

.hashtag {
  font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.social-list {
  list-style: none;
}

.social-button {
  display: block;
}

.social-button::before {
    margin: 5px;
    content: "";
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: block;

}

.social-twitter::before {
  background-image: url("../img/twitter.svg");
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-facebook::before {
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-youtube::before {
  background-image: url("../img/youtube.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
